# node / TS
node_modules
dist
*.tsbuildinfo

# env (keep only examples)
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# hardhat / typechain
contracts/cache
contracts/artifacts
typechain-types

# next.js build
app/packages/site/.next
app/packages/site/out
